<section>
    <div class="Welcome-section">
        <div class="welcome">
            <h3 class="greeting">Welcome Emily,</h3>
            <p>Your ability and secure invoicing arrangement. Prepare to streamline the invoicing for your business</p>
        </div>
        <div class="button_dashboard">
            <button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Generate QR</button>  
        </div>
    </div>
    <div class="table_activity">
        <div class="table">
            <table class="table table-striped">
                <thead>
                    <th>Recent Activity</th>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12/12/2020</td>
                        <td>Invoice</td>
                        <td>1000</td>
                        <td><span class="badge badge-success">Paid</span></td>
                    </tr>
                    <tr>
                        <td>12/12/2020</td>
                        <td>Invoice</td>
                        <td>1000</td>
                        <td><span class="badge badge-success">Paid</span></td>
                    </tr>
                    <tr>
                        <td>12/12/2020</td>
                        <td>Invoice</td>
                        <td>1000</td>
                        <td><span class="badge badge-success">Paid</span></td>
                    </tr>
                    <tr>
                        <td>12/12/2020</td>
                        <td>Invoice</td>
                        <td>1000</td>
                        <td><span class="badge badge-success">Paid</span></td>
                    </tr>
                    <tr>
                        <td>12/12/2020</td>
                        <td>Invoice</td>
                        <td>1000</td>
                        <td><span class="badge badge-success">Paid</span></td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</section>

