
<!-- <table class="table"> -->
    <!-- <thead>
        <th>Submitted By</th>
        <th>Leave type</th>
        <th>Start Date </th>
        <th>End Date</th>
        <th>Status</th>
        <th>Status Changed by</th>
        <th>Date Created</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let leave of leaves;">
            <td>{{leave?.created_by}}</td>
            <td>{{leave?.leave_type}}</td>
            <td>{{leave?.start_date}}</td>
            <td>{{leave?.end_date}}</td>
            <td>{{leave?.status}}</td>
            <td>{{leave?.status_changed_by}}</td>
            <td>{{leave?.last_modified}}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/leave',leave?.id, leave?.created_by]">
                    <i class=" fa fa-eye"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table> -->

<div class="req-body">
    <div class="body-head">
      <!-- <h3>Requests</h3> -->
      <button class="xhead" mat-fab extended color="link" >
      <i class="fa fa-bed"></i>
      Requests
      </button>
      <div class="righties">
        <button mat-fab extended>
          <mat-icon>search</mat-icon>
          Filter
        </button>
        <button mat-fab extended color>
          <span>Today</span>
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </div>
    